<mat-toolbar>
    <span>Micro Service Gardens</span>
    <!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
  &nbsp;
  <nav>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    &nbsp;
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>    
  </nav>
  <div class="example-spacer"></div>
  <div *ngIf="user">
    <button (click)="logout()" mat-raised-button type="submit"  class="btn btn-success logout-button">Log out</button>
  </div>
  <!-- The routed views render in the <router-outlet>-->
</mat-toolbar>
