  
  .main {
    border-radius: .2em;
    font-family: sans-serif;
    font-size: 1.2em;
    padding: 4em 1em;
    text-transform: uppercase;
    border-color: #888888;
    border-width: 2px;
    border-style: solid;
    background-color: #fefefe;
    margin-top: 50px;
  }
  