<!-- main app container -->
<app-header></app-header> 

<table mat-table [dataSource]="gardens" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let garden"> {{garden.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let garden"> {{garden.description}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


  <div>
    <h2>Add a garden</h2>
    <form (ngSubmit)="onSubmit()">
      <div>
          <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput placeholder="" [formControl]="name" required>
          </mat-form-field>
      </div>
      <div>
          <mat-form-field appearance="outline">
              <mat-label>Description</mat-label>
              <input matInput placeholder="" [formControl]="description" required>
          </mat-form-field>
  
      </div>
      <div>
          <button  mat-raised-button type="submit" class="btn btn-success">Submit</button>
      </div>
  
  </form>
</div>