<h1>Log in</h1>
<form (ngSubmit)="onSubmit()">
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="****" [formControl]="password" required>
            <mat-hint>Hint</mat-hint>
        </mat-form-field>

    </div>
    <div>
        <button  mat-raised-button type="submit" class="btn btn-success">Submit</button>
    </div>

</form>